@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 55 85% 95%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 20 53% 90%;
    --primary-hover: 234 89% 74%;
    --primary-foreground: 0 0% 98%;
    --primary-background: 140, 53%, 90%;

    --secondary: 217 33% 17%;
    --secondary-hover: 215 19% 35%;
    --secondary-foreground: 0 0% 98%;
    --secondary-background: 212, 37%, 90%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 223 81% 62%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 217 19% 27%;
    --foreground: 0 0% 100%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 239 84% 67%;
    --primary-hover: 234 89% 74%;
    --primary-foreground: 0 0% 98%;
    --primary-background: 200, 53%, 90%;

    --secondary: 217 33% 17%;
    --secondary-hover: 215 19% 35%;
    --secondary-foreground: 0 0% 98%;
    --secondary-background: 212, 37%, 20%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 223 81% 62%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

